.social a {
  background-color: #81b3d1;
  padding: 13px;
  font-size: 24px;
  color: #fff;
  font-family: "symbols-sedona";
  text-decoration: none;
  max-width: 46px;
  max-height: 48px; }
  .social a:hover {
    background-color: #669dc0; }
  .social a:active {
    background-color: #5495bd; }

.social {
  text-align: center; }

.tag {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  font-family: "P Tsans";
  margin-bottom: 37px;
  margin-top: 66px; }

.hashtag {
  text-decoration: none;
  color: #000; }
  .hashtag:hover {
    color: #81b3d1; }
  .hashtag:active {
    color: #b2b2b2; }

.icon-fb {
  padding-left: 28px;
  padding-right: 28px;
  width: 23px;
  display: inline-block;
  line-height: 24px; }

.icon-yt {
  width: 23px;
  display: inline-block;
  line-height: 24px; }

.contacts {
  color: #000; }

.email {
  text-transform: none; }

.tag {
  font-size: 16px;
  margin: 0;
  margin-bottom: 5px; }

.tag a:hover {
  color: #81b3d2; }

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-around;
    font-family: "P Tsans";
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-decoration: none;
    padding-bottom: 30px; }
  .tag {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
  .icons {
    display: inline-block;
    margin-top: 30px; }
  .icon-fb {
    padding-left: 28px;
    padding-right: 28px; }
  .icons {
    margin-top: 10px; }
  .social {
    margin-bottom: 30px; }
  .social a {
    padding: 13px;
    margin-left: 0; }
  .contacts {
    color: #000; }
  .email {
    text-transform: none; }
  .tag a:hover {
    color: #81b3d2; } }

@media (min-width: 1200px) {
  .icons {
    margin-top: 10px; }
  .social {
    margin-bottom: 30px; }
  .social a {
    padding: 13px;
    margin-left: 0;
    margin-bottom: 30px; }
  .tag {
    margin-top: 20px; } }
