h1 {
  font-family: "P Tsans";
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

.item {
  width: 320px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  font-family: "P Tsans";
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  color: #000000; }
  .item:hover {
    border: 2px solid #81b3d1;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    transition: 0.4s; }
  .item:active {
    color: #b2b2b2;
    box-shadow: none;
    transition: 0.1s;
    border: 2px solid #000; }

.item__title {
  font-family: "P Tsans";
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px;
  text-align: center; }

.item__about {
  font-family: "P Tsans";
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-align: left; }

@media (max-width: 767px) {
  h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    margin-left: 20px; }
  .section {
    margin: 0;
    margin: 0 10px; }
  .items {
    display: block;
    margin: 0;
    margin-bottom: 0px; }
  .item {
    display: flex;
    flex-direction: column;
    border: 2px solid #202020;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
  .item__about {
    font-family: "P Tsans";
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    margin: 0 auto 20px auto;
    width: 80%;
    text-transform: none; }
  .item__title {
    font-family: "P Tsans";
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    margin: 10px;
    text-align: center; }
  .main-nav__item a {
    color: #000;
    font-family: "P Tsans";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: none; } }

@media (min-width: 768px) {
  body {
    margin-top: 100px;
    box-shadow: -21px -16px 80px rgba(0, 0, 0, 0.5); }
  h1 {
    font-size: 31px; }
  .items {
    display: flex;
    justify-content: space-around;
    margin: 50px 30px; }
  .item {
    width: 30%;
    overflow: hidden;
    border: 2px solid #424242;
    border-radius: 10px;
    margin-right: 14px;
    padding: 0; }
  img {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px; }
  .item__title {
    font-family: "P Tsans";
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px;
    text-align: center; }
  .item__about {
    color: black;
    font-size: 16px;
    font-weight: normal;
    margin: 0 30px 10px 30px;
    width: 80%; } }

@media (min-width: 1200px) {
  .items {
    margin: 60px 100px; } }
