@charset "UTF-8";
p {
  font-family: 'P TSans';
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  margin: 0;
}

@font-face {
  font-family: 'P TSans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona.woff') format('woff'),
    url('../fonts/symbols-sedona.woff2') format('woff2');
}
.title {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}

.menu--show {
  display: block;
}
.top-menu {
  position: relative;
  height: 56px;
}
.toggle__hidden {
  display: none;
}
.section {
  margin: 0;
  margin: 0 10px;
}
.items {
  display: block;
  margin: 0;
  margin-bottom: 0px;
}
.item {
  display: flex;
  flex-direction: column;
  border: 2px solid #202020;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.item__title {
  font-family: 'P Tsans';
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  margin: 10px;
  text-align: center;
  color: #000;
}

.contacts__info-item {
  margin-bottom: 15px;
  margin-left: 20px;
}
.contacts__info-item__img {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: -webkit-baseline-middle;
  margin-right: 10px;
}
.order {
  border: 2px solid #424242;
  border-radius: 20px;
  padding: 5px;
  color: #000;
}
.order a {
  color: #000;
  text-decoration: none;
}
.item {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  border: 2px solid #424242;
  border-radius: 10px;
  padding: 0;
  margin: 10px;
}
.item__img {
  display: flex;
  justify-content: center;
}
.item__img:hover {
  filter: contrast(20%);
}
p.item__title {
  font-family: 'P Tsans';
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #000;
  margin-bottom: 5px;
}
.order {
  border: 2px solid #424242;
  border-radius: 20px;
  font-family: 'P Tsans';
  font-size: 17px;
  display: flex;
  justify-content: center;
}
h1 {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-family: 'P Tsans';
  font-size: 30px;
}
.footer__list {
  list-style: none;
  padding-left: 0;
}
footer .tag a {
  text-decoration: none;
  color: #000;
}
.items a {
  text-decoration: none;
  outline: none;
}

.tag {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin: 5px auto;
  padding: 10px;
  width: 50%;
}
.contacts__contacts {
  display: none;
}
.email {
  text-transform: none;
}
.contacts__info-item a {
  color: #000;
  text-decoration: none;
  font-family: 'P Tsans';
}
.contacts__info-item a:hover {
  color: #81b3d1;
  transition: 0.2s;
  font-weight: bold;
}
main {
  width: 100%;
  margin: 0 auto;
}
.aboutme {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.aboutme__photo {
  border-radius: 150px;
  overflow: hidden;
  width: 250px;
  height: 250px;
  zoom: 0.5;
  margin-left: 10px;
  margin-top: 50px;
}
.aboutme__text,
.contacts__promo {
  width: 50%;
  font-family: 'P Tsans';
  font-size: 16px;
  align-items: center;
  text-align: left;
}
nav {
  width: 100%;
  background-color: #f1f1f1;
  height: 55px;
}
.main-nav {
  margin: 0 auto;
  width: auto;
  list-style: none;
  padding-left: 0;
  float: right;
  margin-right: 20px;
}
.main-nav__item {
  display: inline-block;
  font-family: 'P TSans';
  font-weight: bold;
  line-height: 40px;
  background: #f1f1f1;
}
.main-nav__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-family: 'P Tsans';
  font-size: 18px;
  text-align: center;
  border: none;
  padding: 7px 13px;
  border-radius: 3px;
}
.main-nav__item a.active,
.main-nav__item a:hover {
  background: #e6e6e6;
  transition: 0.5s;
}
.main-nav__item a:hover {
  color: #81b3d2;
}
label.logo {
  font-family: 'P Tsans';
  line-height: 55px;
  padding: 0;
  padding-left: 50px;
  font-weight: bold;
  font-size: 24px;
  background-color: #f1f1f1;
}
.checkbtn {
  font-size: 25px;
  float: right;
  line-height: 55px;
  color: black;
  margin-right: 15px;
  cursor: pointer;
}
#check {
  display: none;
}
@media (max-width: 768px) {
  .main-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 55px;
    left: 0;
    text-align: center;
    left: -100%;
    transition: all 0.5s;
    background: #f1f1f1;
  }
  label.logo {
    font-size: 20px;
    padding: 0;
    padding-left: 20px;
  }
  .main-nav__item {
    display: block;
  }
  .main-nav__item a {
    font-size: 18px;
    line-height: 30px;
  }
  .main-nav__item a.active,
  .main-nav__item a:hover {
    color: #81b3d2;
    background: #f1f1f1;
    transition: 0.5s;
  }
  .checkbtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }
  body {
    width: auto;
    margin: 0 auto;
  }
  .my_name {
    display: none;
  }
  form {
    width: 80%;
    font-family: 'P Tsans';
  }
  .menu {
    display: none;
  }
  .menu--show {
    display: block;
  }
  .main-nav__item--active {
    color: #fff;
  }
  .contacts__img {
    display: none;
  }
  .items {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
  }
  .aboutme__skills {
    padding-left: 0px;
  }
  ul.aboutme__skills {
    list-style: none;
  }
  .order__promo,
  .contacts__promo {
    margin: 0 auto;
    width: 80%;
    font-family: 'P Tsans';
    font-size: 18px;
    margin-bottom: 22px;
  }
  .order__btn {
    width: 120px;
  }
  .order__btn:active {
    outline: none;
  }
  form {
    font-family: 'P Tsans';
    font-size: 18px;
    display: grid;
    margin: 0 auto;
  }
  form input,
  textarea {
    font-family: 'P Tsans';
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
  }
  form label {
    margin-left: 5px;
  }
  .order__btn {
    width: 150px;
    margin: 0 auto;
  }
  .contacts__info {
    width: 88%;
    margin: 0 auto;
  }
  .contacts__info-item a {
    vertical-align: sub;
  }
  .order {
    width: 150px;
    text-transform: none;
    font-size: 17px;
    border-bottom: 25px;
    background: #f1f1f1;
    border: 1px solid black;
    font-weight: normal;
  }
  h1 {
    font-size: 24px;
    margin: 13px;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
  }
  form {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  form input,
  form label {
    font-family: 'P Tsans';
  }
  form label {
    margin-bottom: 5px;
    margin-left: 5px;
  }
  form input,
  textarea {
    background-color: #f1f1f1;
    padding: 10px;
    border: none;
    outline: none;
  }
  form,
  .order__btn {
    font-size: 24px;
  }
  ul.aboutme__skills {
    list-style: none;
    padding-left: 0;
  }

  form input,
  textarea {
    font-size: 22px;
  }
  a.main-nav__item--active {
    color: #000;
  }
  .menu {
    display: block;
    background: #f1f1f1;
  }

  .top-menu {
    position: absolute;
    height: 56px;
    top: 0;
    left: 50%;
    margin-left: -50px;
  }
  .my_name {
    font-family: 'P TSans';
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin: 10px;
    top: 5px;
    left: 25px;
    margin-right: 50%;
    width: 20%;
  }
  footer {
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  ul.footer__list,
  nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 768px;
  }
  .page-header {
    margin-bottom: 20px;
    background: #f1f1f1;
  }
  .order__promo,
  .contacts__promo {
    display: block;
    margin: 30px auto;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: normal;
    width: 70%;
    font-size: 28px;
    line-height: 40px;
  }
  .order__promo {
    width: 50%;
  }
  h1 {
    font-family: 'P Tsans';
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-align: center;
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: inherit;
  }
  .item {
    position: relative;
    width: 30%;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-right: 14px;
    padding: 0;
  }
  .item:hover {
    border: 2px solid #81b3d1;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    transition: 0.6s;
  }
  img {
    text-align: center;
    margin-bottom: 10px;
  }
  .item__title {
    font-family: 'P Tsans';
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px;
    text-align: center;
  }
  .item__about {
    position: absolute;
    top: 40px;
    color: white;
    font-size: 16px;
    font-weight: normal;
    margin: 0 30px 20px 30px;
    width: 80%;
    text-transform: none;
    visibility: hidden;
  }
  .items a {
    max-width: 320px;
    min-height: 100px;
  }

  .order:hover {
    border: 2px solid #81b3d1;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    color: #000;
  }
  .contacts__main {
    display: flex;
    justify-content: center;
  }

  .contacts__img {
    zoom: 0.5;
  }
  .contacts__info {
    margin-top: 8px;
    margin-left: 30px;
  }
  .contacts__info-item__img {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: -webkit-baseline-middle;
    margin-right: 10px;
  }
  footer {
    font-family: 'P Tsans';
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-decoration: none;
  }
  .tag {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    padding: 5px 10px;
    margin: 5px;
  }
  .order {
    border: 2px solid #424242;
    border-radius: 20px;
    padding: 5px;
    color: #000;
    text-transform: none;
  }
  .order a {
    color: #000;
    text-decoration: none;
  }
  .icons {
    display: inline-block;
    margin-top: 30px;
  }
  .icon-fb {
    padding-left: 28px;
    padding-right: 28px;
  }
  .icons {
    margin-top: 10px;
  }
  .social {
    margin-bottom: 30px;
  }
  .social a {
    padding: 13px;
    margin-left: 0;
  }
  .contacts {
    color: #000;
  }
  .contacts:hover {
    transition: 0.2s;
  }
  .email {
    text-transform: none;
  }
  .tag a:hover {
    color: #81b3d2;
  }
  .order a:hover {
    color: #000;
  }
  .aboutme {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .aboutme__photo {
    height: 250px;
    overflow: hidden;
    border-radius: 300px;
    min-width: 250px;
    zoom: 0.8;
    margin-top: 40px;
    margin-left: 120px;
  }
  .aboutme__text,
  .contacts__promo {
    width: 70%;
    font-family: 'P Tsans';
    font-size: 28px;
    align-items: center;
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
  }
  .contacts__promo {
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  .order__btn {
    width: 200px;
    margin: 0 auto;
    border: 2px;
    padding: 15px;
  }
  #errorMess {
    margin: 0 auto;
    font-size: 20px;
  }
  .footer-index,
  .footer-contacts,
  .footer-order {
    position: absolute;
    bottom: 0;
  }
  .checkbtn {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    display: contents;
  }
  .top-menu {
    margin-left: -93px;
  }
  .my_name {
    margin-right: 58%;
  }
  .menu {
    background: #f1f1f1;
  }
  main {
    width: 1200px;
    margin-bottom: 30px;
  }
  footer {
    background: #f1f1f1;
    padding-top: 15px;
  }
  ul.footer__list,
  nav {
    width: 1200px;
  }
  .item:hover {
    border: 2px solid #81b3d1;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    transition: 0.2s;
  }
  .item:active {
    color: #b2b2b2;
    box-shadow: none;
    transition: 0.1s;
    border: 2px solid #000;
  }
  .item__title {
    font-family: 'P Tsans';
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
    text-align: center;
  }
  h1 {
    font-size: 38px;
    text-align: center;
  }
  .contacts {
    color: #000;
  }
  .contacts__promo {
    width: 50%;
  }
  .contacts__img {
    zoom: 0.7;
  }
  .email {
    text-transform: none;
  }
  .tag a:hover {
    color: #81b3d2;
  }
  .icons {
    margin-top: 10px;
  }
  .social {
    margin-bottom: 30px;
  }
  .social a {
    padding: 13px;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .items a {
    min-width: 320px;
    min-height: 100px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1400px) {
  main {
    width: 1400px;
  }
}
