.items {
  content: "";
  clear: both;
  display: block;
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px; }

.items__title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana";
  font-weight: bold;
  padding-top: 40px; }

.items__top-sales {
  font-size: 16px;
  line-height: 16px;
  color: #34a998;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase; }

.items__about,
.items__baskets {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  font-family: "Open Sans";
  margin-right: 30px; }

.items__about {
  margin-right: 0; }

.items__baskets {
  width: 260px;
  padding-bottom: 30px; }

.items__baskets td {
  border-bottom: 1px solid #ececec; }

.items__baskets td:nth-child(2) {
  padding-left: 30px; }

.items__picture {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: -60px; }

.items__price {
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  font-family: "Verdana";
  font-weight: bold;
  text-align: center; }

.items__buy {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  border: solid 2px #434343;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  max-width: 225px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.items__buy:hover {
  background-color: #444444;
  color: #ffffff; }

.items__buy:active {
  background-color: #444444;
  color: #5e5e5e; }

.item__img {
  margin: 0; }

@media (max-width: 767px) {
  .basket-tablet,
  .basket-desktop {
    display: none; }
  .items__zigzag {
    margin-bottom: 50px;
    margin-left: -50px; }
  .basket-mobile {
    text-align: center;
    margin: 0 auto;
    margin-left: 0px; }
  .items__price {
    text-align: center;
    margin-left: 0;
    width: 260px; }
  .items__about {
    width: 260px; }
  .items__buy {
    width: 100%;
    margin-left: 0; }
  button.items__buy.btn {
    margin-left: 0; } }

@media (min-width: 768px) {
  .items {
    margin-bottom: 60px; }
  .items__buy {
    display: block;
    position: relative;
    margin: 0;
    min-width: 45%;
    margin-bottom: 50px;
    border: solid 2px #434343;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    background-color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    max-width: 260px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; }
  .items__buy:hover {
    background-color: #444444;
    color: #ffffff; }
  .items__buy:active {
    background-color: #444444;
    color: #5e5e5e; }
  .items__title {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    padding-top: 0;
    margin: 0;
    margin-bottom: 50px; }
  .items__top-sales {
    font-size: 16px;
    line-height: 16px;
    color: #63d1bb;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    float: right;
    width: 80px; }
  .items__about {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans";
    width: 45%; }
  .items__baskets {
    font-size: 15px;
    line-height: 20px;
    color: #444444;
    font-family: "Open Sans";
    width: 45%;
    margin-bottom: 50px;
    padding-bottom: 0; }
  .items__baskets td {
    padding-bottom: 10px;
    padding-top: 10px; }
  .basket-mobile,
  .basket-desktop {
    display: none; }
  .items__price {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 35px;
    min-width: 45%;
    font-size: 18px;
    line-height: 24px;
    color: #444444;
    font-family: "Verdana";
    font-weight: bold; }
  button.items__buy.btn {
    margin: 0;
    min-width: 45%;
    margin-bottom: 50px; }
  .items__zigzag {
    margin-left: -50px;
    zoom: 1.5; }
  .main-nav {
    position: relative; }
  .main-nav__item a {
    padding-left: 0; }
  .items__info {
    position: relative; }
  .item__img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    zoom: 1.17; } }

@media (min-width: 1150px) {
  .items__title {
    line-height: 57px;
    font-size: 50px; }
  .items {
    position: relative;
    padding-left: 225px; }
  .items__baskets {
    margin-bottom: 110px;
    padding-bottom: 0;
    margin-right: 0; }
  .items__about {
    margin-bottom: 65px; }
  .items__top-sales {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0; }
  button.items__buy.btn,
  .items__price,
  .items__about {
    min-width: 290px; }
  .item__img {
    zoom: 1.5; }
  .items__price {
    width: 50%; }
  .items__zigzag {
    margin-left: -120px;
    zoom: 2.1; } }
