.main__theme {
  position: relative; }

.background-mobile {
  width: 100%;
  overflow: hidden; }

.background-mobile img {
  height: auto;
  max-width: 100%;
  width: auto; }

.main__slogan {
  padding-top: 90px;
  padding-bottom: 130px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  color: #231f20;
  font-family: "Verdana";
  font-weight: bold;
  text-align: center; }

.main__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.main__interior {
  background-color: #63d1bb;
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-family: "Tahoma";
  font-weight: bold;
  text-align: left;
  padding: 30px;
  border: none;
  text-decoration: none; }

.interior__img {
  float: right;
  margin-top: -30px;
  margin-right: 10px; }

.main__toy {
  background-color: #55c3b2;
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-family: "Tahoma";
  font-weight: bold;
  text-align: left;
  padding: 30px;
  border: none;
  text-decoration: none; }

.toy__img {
  float: right;
  margin-top: -30px; }

.icon {
  zoom: 0.1;
  color: #f1f1f1;
  position: absolute;
  left: 4%; }

@media (max-width: 767px) {
  .main-nav {
    margin: 0 auto; }
  .main__theme {
    background: #f1f1f1 url("img/hero-mobile.jpg") no-repeat 50% top;
    height: 505px; }
  .item__img {
    width: 260px; }
  .background-desktop,
  .zigzag-fill {
    display: none; } }

@media (min-width: 768px) {
  .main__theme {
    position: relative;
    background: url("img/main-desktop.png") no-repeat center;
    margin-bottom: 50px; }
  .main__slogan {
    height: 264px;
    font-size: 40px;
    line-height: 50px; }
  .main__interior {
    padding: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Tahoma";
    font-weight: bold;
    width: 50%;
    bottom: 0;
    left: 0;
    top: 315px; }
  .main__toy {
    padding: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Tahoma";
    font-weight: bold;
    width: 50%;
    bottom: 0;
    right: 0;
    top: 315px; }
  .zigzag-fill {
    margin-top: -45px;
    zoom: 1.5;
    margin-left: -2px; }
  .background-mobile {
    display: none; }
  .background-desktop img {
    height: auto;
    max-width: 100%;
    width: auto; }
  .main__buttons {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Tahoma";
    font-weight: bold;
    flex-direction: unset;
    margin-bottom: 50px;
    margin-top: -90px; }
  .main__interior:hover {
    background-color: #58d5bc;
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__interior:active {
    opacity: 0.3; }
  .main__toy:hover {
    background-color: #45c1ae;
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__toy:active {
    opacity: 0.3; }
  .icon {
    margin: 60px 275px; }
  .icon-cart {
    margin: 50px;
    margin-left: -560px; } }

@media (min-width: 1150px) {
  .menu {
    background-color: #fff; }
  .main__background {
    top: -65px;
    margin-bottom: 70px; }
  .main__toy,
  .main__interior {
    top: 315px; }
  .zigzag-fill {
    margin-top: -32px;
    zoom: 2.3;
    margin-left: -2px; }
  .main__interior:hover {
    background-color: #58d5bc;
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__interior:active {
    opacity: 0.3; }
  .main__toy:hover {
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__toy:active {
    opacity: 0.3; } }
