.main-nav {
  width: 320px;
  margin: 0 auto; }
  .main-nav a {
    color: #000000;
    text-decoration: none; }

.main-nav__item {
  position: relative;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Verdana";
  font-weight: bold;
  padding: 28px;
  padding-left: 0;
  border-bottom: 1px solid #ebebeb; }
  .main-nav__item img {
    position: absolute;
    margin-left: -46px;
    margin-top: 3px; }

.main-nav__close {
  position: absolute;
  right: -7px;
  padding-right: 30px;
  font-size: 30px;
  text-decoration: none;
  color: #000000; }

.main-nav__items {
  padding-left: 0;
  margin: 0; }

.page-header__logo {
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }

.page-header__toggle {
  position: absolute;
  right: -7px;
  top: 30px;
  padding-right: 30px;
  font-size: 30px;
  text-decoration: none;
  color: #000000; }

@media (max-width: 767px) {
  .main-nav {
    margin: 0 auto; }
  .page-header__logo-tablet,
  .left-column .main-nav__item:nth-child(3),
  .page-header__logo-desktop,
  .main-nav__items-desktop,
  p.dostavka {
    display: none;
    font-size: 0; }
  .main-nav__item a {
    padding-left: 76px; }
  .main-nav--closed {
    display: none; }
    .main-nav--closed--active {
      display: block; }
  .main-nav--opened {
    display: block; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0; }
    .main-nav picture {
      margin-left: 50px; }
  .main-nav__item {
    display: inline-block;
    border-collapse: collapse;
    padding-left: 50px; }
  .main-nav__item a {
    position: relative; }
  .main-nav__item-find {
    left: 50px;
    top: -8px; }
  .right-column {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 50%;
    text-align: right;
    border-bottom: none; }
    .right-column .main-nav__item {
      border-bottom: 1px solid #ebebeb;
      border-left: 1px solid #ebebeb;
      line-height: 12px;
      padding-left: 30px; }
      .right-column .main-nav__item a {
        padding-left: 56px; }
  .left-column .main-nav__item {
    border-bottom: none;
    padding-top: 30px; }
  .left-column .main-nav__item:nth-child(3) {
    font-size: 14px;
    text-align: right;
    line-height: 24px;
    color: #444444;
    font-family: "Verdana";
    font-weight: lighter;
    display: block;
    float: right; }
  .main-nav__item-cart {
    top: -5px;
    left: 49px; }
  .page-header__logo,
  .page-header__top,
  .page-header__logo-desktop,
  .main-nav__items-desktop,
  .dostavka {
    display: none;
    margin-right: 10px; }
  .page-header__logo,
  .page-header__top {
    display: none; } }

@media (min-width: 1150px) {
  .main-nav {
    width: 1150px;
    padding-bottom: 12px; }
  .main-nav picture {
    position: absolute;
    text-align: center;
    top: 10px;
    margin-left: 0;
    margin-bottom: 3px;
    left: 50%;
    margin-left: -75px; }
  .left-column {
    float: left; }
    .left-column .main-nav__item:nth-child(3) {
      display: none; }
    .left-column li:nth-child(2) {
      border-left: 1px solid #ebebeb; }
  .page-header__logo-desktop:hover,
  .left-column li:hover,
  .right-column li a:hover,
  .main-nav__items-desktop li:hover {
    opacity: 0.6; }
  .page-header__logo-desktop:active,
  .left-column li:active,
  .right-column li a:active,
  .main-nav__items-desktop li:active {
    opacity: 0.3; }
  .right-column {
    float: right;
    min-width: 350px; }
  .right-column .main-nav__item {
    padding: 28px;
    padding-top: 38px;
    line-height: 13px; }
  .right-column .f a {
    padding-left: 0;
    padding-bottom: 1px; }
  .page-header__logo,
  .page-header__logo-tablet {
    display: none; }
  .main-nav {
    width: auto;
    border-bottom: 1px solid #ebebeb; }
  .main-nav__item {
    border-bottom: none; }
  .f {
    border-bottom: none;
    font-size: 0; }
  .c {
    line-height: 24px; }
    .c a {
      padding-top: 40px;
      line-height: 24px;
      padding-bottom: 28px; }
  .f,
  .c {
    border-bottom: none; }
  .main-nav__item-find {
    left: 50px;
    top: -5px; }
  .main-nav__item-cart {
    top: 36px; }
  .main-nav__items-desktop {
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
    margin-left: 0;
    padding-bottom: 190px; }
  .main-nav__items-desktop li {
    border: none;
    font-size: 14px; }
    .main-nav__items-desktop li a {
      text-decoration: none;
      color: #000000; }
  .dostavka {
    display: inline-block;
    float: right;
    padding-top: 15px; }
    .dostavka a {
      font-weight: lighter;
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      font-family: "Verdana";
      text-align: right; }
  .greyback {
    background-color: #f1f1f1;
    position: relative;
    display: flex; }
  .main__catalog {
    position: absolute;
    font-size: 50px;
    line-height: 57px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    margin-top: 90px;
    max-width: 697px;
    margin-top: 100px;
    left: 50%;
    margin-left: -230px; }
  .zigzag-fill-catalog {
    position: absolute;
    bottom: 0px; } }
