.clearfix::after {
  content: "";
  display: block;
  clear: both; }

@media (min-width: 1150px) {
  .btn:hover {
    background-color: #444444;
    color: #ffffff; }
  .btn:active {
    background-color: #444444;
    color: #5e5e5e; } }

.main-nav {
  width: 320px;
  margin: 0 auto;
  padding-left: 0;
  margin: 0; }
  .main-nav a {
    color: #000000;
    text-decoration: none; }

.main-nav__item {
  position: relative;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: "Verdana";
  font-weight: bold;
  padding: 28px;
  padding-left: 0;
  border-bottom: 1px solid #ebebeb; }
  .main-nav__item img {
    position: absolute;
    margin-left: -46px;
    margin-top: 3px; }

.logo {
  display: inherit;
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }

.main-nav__toggle,
.main-nav__close {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 30px;
  text-decoration: none;
  color: #000000; }

@media (max-width: 767px) {
  .page-header {
    margin: 0 auto; }
  .logo {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb; }
  .main-nav {
    margin-left: 0;
    width: 100%; }
  .main-nav__desktop,
  .delivery,
  .main-nav__toggle--hidden,
  .main-nav__close--hidden {
    display: none;
    font-size: 0; }
  .main-nav__item a {
    padding-left: 23%; }
  .menu {
    display: none; }
  .menu--show {
    display: block; } }

@media (min-width: 768px) {
  .page-header {
    width: auto;
    min-height: 70px;
    margin: 0; }
    .page-header picture {
      margin-left: 50px; }
  .logo {
    text-align: left;
    display: block;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-top: 12px; }
  .main-nav {
    width: 100%;
    padding-left: 50px; }
  .main-nav__item {
    padding-top: 30px;
    display: inline-block;
    border-collapse: collapse;
    padding-left: 0;
    border-bottom: none; }
  .main-nav__item a {
    position: relative;
    padding-left: 0;
    text-decoration: none;
    color: #000000; }
  .logo a,
  .main-nav__desktop,
  .main-nav__toggle,
  .main-nav__close {
    display: none;
    margin-right: 10px; }
  .main-nav__item--find,
  .main-nav__item--cart {
    position: absolute;
    top: -84px;
    border-left: 1px solid #ebebeb; }
  .main-nav__item--find {
    right: 355px;
    padding-bottom: 24px;
    padding-left: 0; }
    .main-nav__item--find a {
      font-size: 0; }
  .main-nav__item--cart {
    right: 50px;
    padding-bottom: 30px;
    padding-left: 75px; }
  img.find__img {
    margin-left: 20px; }
  .delivery {
    position: absolute;
    right: 50px;
    top: 100px; }
    .delivery a {
      font-weight: lighter;
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      font-family: "Verdana";
      text-align: right; } }

@media (min-width: 1150px) {
  .page-header {
    width: auto; }
  .logo {
    margin-top: 0;
    padding-top: 0; }
  .logo picture {
    position: absolute;
    text-align: center;
    margin-left: 0;
    margin-bottom: 3px;
    left: 50%;
    margin-left: -75px; }
  .main-nav {
    width: auto;
    border-bottom: 1px solid #ebebeb;
    margin-left: 0px;
    padding-left: 0px; }
    .main-nav li:nth-child(2) {
      padding-left: 50px;
      border-left: 1px solid #ebebeb; }
    .main-nav li:nth-child(1) {
      padding-left: 50px; }
  .main-nav__desktop {
    display: inline-block;
    list-style: none;
    padding-left: 20px;
    margin: 0 auto; }
  .main-nav li:hover,
  .main-nav__desktop li:hover,
  .delivery:hover {
    opacity: 0.6; }
  .main-nav li:active,
  .main-nav__desktop li:active,
  .delivery:active {
    opacity: 0.3; }
  .main-nav__desktop li {
    width: auto;
    text-decoration: none;
    border: none;
    font-size: 14px; }
    .main-nav__desktop li:nth-child(2) {
      padding-left: 55px; }
  .main-nav__item {
    border-bottom: none;
    padding-left: 28px; }
    .main-nav__item a {
      text-decoration: none;
      color: #000000;
      padding-left: 0px; }
  .main-nav__item--desktop {
    padding: 20px;
    padding-left: 28px; }
  .main-nav__item--find,
  .main-nav__item--cart {
    position: absolute;
    top: 0px;
    border-left: 1px solid #ebebeb; }
  .main-nav__item--find {
    right: 315px;
    padding-bottom: 24px;
    padding-left: 0; }
    .main-nav__item--find a {
      font-size: 0; }
  .main-nav__item--cart {
    right: 0px;
    padding-bottom: 28px;
    padding-left: 75px; }
  img.find__img {
    margin-left: 0px; }
  .catalog__header-sale {
    display: inline-block;
    padding-left: 0;
    margin: 0 auto;
    margin-left: 0; }
  .catalog__header-sale li {
    border: none;
    font-size: 14px; }
    .catalog__header-sale li a {
      text-decoration: none;
      color: #000000; }
  .delivery {
    display: inline-block;
    float: right;
    padding-top: 5px; }
    .delivery a {
      font-weight: lighter;
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: #444444;
      font-family: "Verdana";
      text-align: right; }
  .catalog__links {
    display: none; }
  .logo {
    padding-bottom: 0;
    border-bottom: none; } }

.main__theme {
  position: relative; }

.background-mobile {
  width: 100%;
  overflow: hidden; }

.background-mobile img {
  height: auto;
  max-width: 100%;
  width: auto; }

.main__slogan {
  padding-top: 90px;
  padding-bottom: 130px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  color: #231f20;
  font-family: "Verdana";
  font-weight: bold;
  text-align: center; }

.main__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.main__interior {
  background-color: #63d1bb;
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-family: "Tahoma";
  font-weight: bold;
  text-align: left;
  padding: 30px;
  border: none;
  text-decoration: none; }

.interior__img {
  float: right;
  margin-top: -30px;
  margin-right: 10px; }

.main__toy {
  background-color: #55c3b2;
  font-size: 18px;
  line-height: 24px;
  color: white;
  font-family: "Tahoma";
  font-weight: bold;
  text-align: left;
  padding: 30px;
  border: none;
  text-decoration: none; }

.toy__img {
  float: right;
  margin-top: -30px; }

.icon {
  zoom: 0.1;
  color: #f1f1f1;
  position: absolute;
  left: 4%; }

@media (max-width: 767px) {
  .main-nav {
    margin: 0 auto; }
  .main__theme {
    background: #f1f1f1 url("img/hero-mobile.jpg") no-repeat 50% top;
    height: 505px; }
  .item__img {
    width: 260px; }
  .background-desktop,
  .zigzag-fill {
    display: none; } }

@media (min-width: 768px) {
  .main__theme {
    position: relative;
    background: url("img/main-desktop.png") no-repeat center;
    margin-bottom: 50px; }
  .main__slogan {
    height: 264px;
    font-size: 40px;
    line-height: 50px; }
  .main__interior {
    padding: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Tahoma";
    font-weight: bold;
    width: 50%;
    bottom: 0;
    left: 0;
    top: 315px; }
  .main__toy {
    padding: 35px;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Tahoma";
    font-weight: bold;
    width: 50%;
    bottom: 0;
    right: 0;
    top: 315px; }
  .zigzag-fill {
    margin-top: -45px;
    zoom: 1.5;
    margin-left: -2px; }
  .background-mobile {
    display: none; }
  .background-desktop img {
    height: auto;
    max-width: 100%;
    width: auto; }
  .main__buttons {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Tahoma";
    font-weight: bold;
    flex-direction: unset;
    margin-bottom: 50px;
    margin-top: -90px; }
  .main__interior:hover {
    background-color: #58d5bc;
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__interior:active {
    opacity: 0.3; }
  .main__toy:hover {
    background-color: #45c1ae;
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__toy:active {
    opacity: 0.3; }
  .icon {
    margin: 60px 275px; }
  .icon-cart {
    margin: 50px;
    margin-left: -560px; } }

@media (min-width: 1150px) {
  .menu {
    background-color: #fff; }
  .main__background {
    top: -65px;
    margin-bottom: 70px; }
  .main__toy,
  .main__interior {
    top: 315px; }
  .zigzag-fill {
    margin-top: -32px;
    zoom: 2.3;
    margin-left: -2px; }
  .main__interior:hover {
    background-color: #58d5bc;
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__interior:active {
    opacity: 0.3; }
  .main__toy:hover {
    top: 310px;
    padding-top: 30px;
    margin-top: -5px;
    transition: 0.2s; }
  .main__toy:active {
    opacity: 0.3; } }

.catalog__items ul {
  display: inline-block;
  list-style: none;
  border: 1px solid #f1f1f1;
  width: 316px;
  padding-left: 0;
  margin: 30px 50px; }

.catalog__items li {
  padding-left: 0;
  margin-left: 30px;
  margin-right: 30px; }

.catalog__items .item__img-catalog {
  margin-left: 0;
  margin-right: 0;
  width: auto; }

.item__img-catalog {
  margin: 0 auto;
  padding-left: 0;
  min-height: 315px; }

.item__title,
.production__title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: "Verdana";
  font-weight: bold;
  margin: 30px;
  margin-bottom: 0; }

.item__about,
.production__about {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-family: "Open Sans";
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f1f1f1; }

.production__about {
  padding-bottom: 0; }

.item__price {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-family: "Verdana";
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 10px; }
  .item__price .cart {
    position: relative;
    display: inline-block;
    float: right; }

a.make__order {
  width: auto; }

.menu__catalog {
  display: none; }

.menu__catalog--show {
  display: block; }

@media (max-width: 767px) {
  .catalog__header,
  .main-nav__catalog--desktop,
  .main-nav__catalog {
    display: none; }
  .main__catalog {
    background-color: #f1f1f1;
    font-size: 24px;
    line-height: 30px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    padding: 75px 0;
    margin: 0 auto; }
  .catalog {
    position: relative; }
  .catalog__items ul {
    display: block;
    width: auto;
    min-height: 375px;
    margin-right: 0;
    width: 316px; }
  .item__img-catalog {
    height: 190px;
    overflow: hidden; }
  .main-nav__catalog {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    margin: 0; }
    .main-nav__catalog a {
      color: #000000;
      text-decoration: none; }
  .production {
    margin: 0 auto; }
  .production ul {
    position: relative;
    display: block;
    width: auto;
    min-height: 375px;
    border: 1px solid #f1f1f1;
    margin: 0 30px;
    padding-left: 0; }
  .production li {
    list-style: none;
    border-collapse: collapse;
    padding-left: 0; }
  .production__video {
    padding-top: 100px;
    margin: 0 auto 15px auto;
    width: 100%;
    position: relative; }
    .production__video video {
      width: 100%;
      height: 100%; }
  .production__title {
    display: inline-block;
    max-width: 167px;
    position: absolute;
    top: 0px;
    left: 110px; }
  .production__logo {
    position: absolute;
    left: 70px;
    top: 42px; }
  .production__about {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans";
    max-width: 83%;
    border-bottom: none; }
  li.production__about {
    padding-left: 15%;
    padding-right: -12%;
    width: 100%; }
  .make__order {
    padding: 18px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border: solid 2px #434343;
    margin-top: 0; }
  .make__order:hover,
  .btn:hover {
    background-color: #444444;
    color: #ffffff; }
  .make__order:active,
  .btn:active {
    background-color: #444444;
    color: #5e5e5e; }
  li.production__order {
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    font-family: "Open Sans";
    font-weight: bold;
    padding: 20px; } }

@media (min-width: 768px) {
  .catalog {
    position: relative;
    margin-top: 70px; }
  .catalog__items ul {
    list-style: none;
    border: 1px solid #f1f1f1;
    width: 90%;
    max-height: 333px;
    margin-top: 0;
    margin-bottom: 55px;
    margin-right: 50px; }
  .catalog__items li {
    display: inline;
    float: left;
    min-width: 45%; }
  .menu__catalog {
    display: block;
    padding-left: 30px;
    margin-left: 0;
    padding-bottom: 170px;
    background-color: #f1f1f1; }
  .main__catalog {
    position: absolute;
    font-size: 40px;
    line-height: 50px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    max-width: 697px;
    left: 50%;
    margin-left: -150px;
    top: -220px; }
  .item__img-catalog {
    overflow: hidden;
    height: 333px; }
  .item__title,
  .item__price {
    float: right;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold; }
  .item__title {
    padding-top: 30px;
    padding-bottom: 20px; }
  .item__price {
    padding-top: 20px;
    padding-bottom: 30px; }
  .item__about {
    padding-bottom: 100px;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans"; }
  button.items__buy.btn {
    width: 100%;
    margin-left: 0;
    margin-bottom: 60px; }
  .main-nav__catalog--desktop {
    display: none; }
  .menu__catalog {
    padding-left: 0; }
  .main-nav__catalog {
    width: 100%;
    padding-left: 50px;
    margin: 0 auto; }
  .main-nav__item--find-catalog,
  .main-nav__item--cart-catalog {
    float: right;
    top: -84px;
    border-left: 1px solid #ebebeb; }
  .main-nav__item--find-catalog {
    right: 372px;
    padding-bottom: 24px;
    padding-left: 45px; }
    .main-nav__item--find-catalog a {
      font-size: 0; }
  .main-nav__item--cart-catalog {
    right: 34px;
    padding-bottom: 30px;
    padding-left: 75px; }
  .main-nav__catalog li:hover,
  .main-nav__catalog--desktop li:hover,
  .delivery:hover {
    opacity: 0.6; }
  .main-nav__catalog li:active,
  .main-nav__catalog--desktop li:active,
  .delivery:active {
    opacity: 0.3; }
  img.find__img {
    margin-left: 20px; }
  .production li {
    list-style: none;
    border-collapse: collapse;
    padding-left: 0; }
  .production__logo,
  .production__title {
    display: inline-block; }
  .production__logo,
  .production__about {
    margin-left: 40px; }
  .production__title {
    margin: 40px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold; }
  .production__about {
    border-bottom: none;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans";
    margin: 0 40px 40px 40px; }
  li.production__order {
    margin: 45px auto;
    width: 75%; }
  a.make__order {
    width: 85%;
    display: inline-block; }
  .make__order:hover {
    background-color: #444444;
    color: #ffffff; }
  .make__order:active {
    background-color: #444444;
    color: #5e5e5e; }
  li.production__logo {
    display: inline-block; }
  .make__order {
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    background-color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: solid 2px #434343;
    padding: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: black; }
  .production ul {
    margin-left: 40px;
    padding-left: 0;
    margin-right: 40px;
    margin-bottom: 50px;
    border: 1px solid #f1f1f1; } }

@media (min-width: 1150px) {
  .main-nav__catalog--desktop {
    display: block;
    background-color: #f1f1f1;
    position: relative;
    display: flex;
    padding-bottom: 220px;
    width: 100%;
    height: 0;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 50px; }
  .catalog__header-sale {
    display: block; }
  .main__catalog {
    font-size: 50px;
    line-height: 57px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    max-width: 697px;
    left: 50%;
    margin-left: -200px; }
  .zigzag-fill-catalog {
    position: absolute;
    bottom: 0px; }
  .catalog__items {
    display: flex;
    justify-content: space-between; }
  .catalog__items ul {
    display: inline-block;
    list-style: none;
    border: 1px solid #f1f1f1;
    width: 316px;
    padding-left: 0;
    margin-left: 50px;
    min-height: 660px; }
  .catalog__items li {
    padding-left: 0;
    margin-left: 30px;
    margin-right: 30px; }
  .item__img-catalog {
    display: block;
    min-height: 466px; }
  .item__title {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold;
    margin: 30px;
    margin-bottom: 0;
    padding: 0; }
  .item__about {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans";
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f1f1;
    width: 80%; }
  .item__price {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 10px; }
    .item__price .cart {
      position: relative;
      display: inline-block;
      float: right; }
  .main-nav__catalog {
    width: auto;
    border-bottom: 1px solid #ebebeb;
    margin-left: 0px;
    padding-left: 0px; }
    .main-nav__catalog li:nth-child(2) {
      padding-left: 50px;
      border-left: 1px solid #ebebeb; }
    .main-nav__catalog li:nth-child(1) {
      padding-left: 50px; }
  .main-nav__item--find-catalog,
  .main-nav__item--cart-catalog {
    position: absolute;
    top: 8px;
    border-left: 1px solid #ebebeb; }
  .main-nav__item--find-catalog {
    right: 330px;
    padding-bottom: 24px;
    padding-left: 0; }
    .main-nav__item--find-catalog a {
      font-size: 0; }
  .main-nav__item--cart-catalog {
    right: 23px;
    padding-bottom: 30px;
    padding-left: 75px; }
  .menu__catalog {
    background-color: #ffffff;
    padding-bottom: 0; }
  .main-nav__catalog--desktop li {
    padding-left: 0; }
    .main-nav__catalog--desktop li:nth-child(2) {
      padding-left: 56px; }
    .main-nav__catalog--desktop li a {
      font-size: 14px; }
  .production {
    margin: 0 50px 105px 50px;
    border: 1px solid #f1f1f1; }
    .production ul {
      border: none;
      margin-top: 0; }
  .production ul {
    margin-left: 0;
    margin-right: 0;
    margin-top: -45px; }
  .make__order:hover {
    background-color: #444444;
    color: #ffffff; }
  .make__order:active {
    background-color: #444444;
    color: #5e5e5e; }
  .production__about,
  .production__title,
  .production__logo,
  .make__order,
  a.make__order.btn {
    margin-left: 80px;
    margin-right: 60px;
    width: auto;
    float: left;
    max-width: 20%; }
  .production__video {
    width: 60%;
    display: inline-block;
    margin-left: 0;
    float: left; }
  .production__logo {
    margin-top: 45px;
    width: 100%; }
  .production__title {
    margin-top: 30px; }
  li.production__order {
    margin: 45px;
    width: auto; } }

.form__title {
  display: inline-block;
  padding: 10px;
  padding-left: 0;
  line-height: 16px;
  color: #63d1bb;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase; }

.type__choose input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 2px solid #000000;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 25px;
  position: relative;
  top: 4px; }

.color__choose input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 42px;
  height: 42px;
  border: 2px solid #000000;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 25px;
  position: relative;
  top: 4px; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: -53px;
  top: 0px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #61d1b9; }

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  position: absolute;
  left: -51px;
  top: -6px;
  width: 10px;
  height: 25px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg); }

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0; }

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1; }

.type__choose,
.color__choose,
.form__user,
.form__contacts,
.form__info {
  padding: 30px;
  position: relative; }
  .type__choose div,
  .color__choose div,
  .form__user div,
  .form__contacts div,
  .form__info div {
    margin-bottom: 15px;
    position: relative; }

label {
  position: absolute;
  top: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-family: "Verdana";
  font-weight: bold; }

.form__send {
  height: 50px;
  border: solid 2px #434343;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  height: 50px;
  border: solid 2px #434343;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 38px; }

@media (max-width: 767px) {
  .form__head {
    background-color: #f1f1f1;
    font-size: 24px;
    line-height: 30px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    padding: 75px 0;
    margin: 0 auto; }
  .catalog {
    position: relative; }
  .form__about {
    font-size: 14px;
    line-height: 25px;
    color: #444444;
    font-family: "Open Sans";
    padding: 30px;
    margin: 0 auto; }
  .accessory {
    border: 4px solid #63d1bb;
    border-radius: 10px; }
  .form__line {
    border-bottom: 1px solid #63d1bb;
    top: -35px;
    z-index: -1;
    margin-left: 70px; }
  .form__line--email {
    margin-left: 88px; }
  .underline {
    border-bottom: 2px solid #000;
    top: -35px;
    z-index: -1;
    margin-top: 30px; }
  .form__user input,
  .form__contacts input,
  .form__info input {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    font-family: "Verdana";
    margin-bottom: 20px;
    line-height: 50px;
    border: none;
    border-bottom: 2px solid #000; }
  .user__label {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold;
    width: 100%; }
  .user-text {
    width: 90%;
    min-height: 150px;
    padding: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    font-family: "Verdana";
    outline: none; }
  .radio__block,
  .user__block {
    margin-left: 0; }
  .form__send {
    width: 87%;
    margin-left: 30px;
    margin-right: 30px; }
  .form__attention {
    display: none; } }

@media (min-width: 768px) {
  .form {
    margin-top: 0; }
  .form__about {
    font-size: 16px;
    line-height: 30px; }
  .form__head {
    position: absolute;
    font-size: 40px;
    line-height: 50px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    max-width: 697px;
    left: 50%;
    margin-left: -150px;
    top: -150px; }
  .form__line {
    display: none; }
  .catalog {
    position: relative; }
  .zigzag__form {
    position: absolute;
    top: -90px;
    background-image: url(img/zigzag-fill.png);
    background-repeat: repeat-x; }
  .form__about {
    padding: 50px;
    margin: 0 auto; }
  .main-nav__item--find-catalog {
    right: 340px; }
  .main-nav__item--cart-catalog {
    right: 0; }
  .form__title {
    margin: 15px auto; }
  .radio__block,
  .user-text,
  .user__block {
    margin-left: 215px; }
  .radio__block div {
    display: inline-block;
    min-width: 220px; }
  .form__title {
    position: absolute; }
  .color__choose,
  .form__contacts {
    background-color: #f1f1f1; }
  .color__choose {
    padding-top: 50px; }
  .type__choose,
  .color__choose,
  .form__user,
  .form__contacts,
  .form__info {
    padding: 50px;
    position: relative; }
    .type__choose div,
    .color__choose div,
    .form__user div,
    .form__contacts div,
    .form__info div {
      margin-bottom: 15px;
      position: relative; }
  .user__label {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-family: "Verdana";
    font-weight: bold; }
  .user__block div {
    margin-top: 20px; }
  .user__block--flex,
  .radio__block--flex {
    display: flex; }
  input[type="tel"],
  input[type="email"] {
    background-color: #f1f1f1; }
  .form__user input,
  .form__contacts input,
  .form__info input {
    width: 100%;
    padding-left: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #444444;
    font-family: "Verdana";
    line-height: 50px;
    border: none;
    border-bottom: 2px solid #000;
    overflow: hidden;
    outline: none;
    margin-left: 20px; }
  input.username.username--desktop {
    left: 66px;
    width: 100%; }
  .form__contacts {
    padding-bottom: 70px; }
  .user-text {
    min-height: 140px;
    width: 73%;
    border: 2px solid #000;
    padding: 20px;
    font-size: 18px;
    outline: none;
    overflow: auto; }
  .form__info {
    margin-right: 50px; }
  input[type="tel"],
  input[type="email"] {
    margin-left: 0; }
  .form__send {
    margin-left: 50px;
    display: inline-block;
    width: 230px; }
  .form__send:hover {
    background-color: #444444;
    color: #ffffff; }
  .form__send:active {
    background-color: #444444;
    color: #5e5e5e; }
  .form__attention {
    display: inline-block;
    float: right;
    margin-right: 50px; } }

@media (min-width: 1150px) {
  .form__head {
    font-size: 50px;
    line-height: 57px;
    color: #231f20;
    font-family: "Verdana";
    font-weight: bold;
    text-align: center;
    max-width: 697px;
    left: 50%;
    margin-left: -200px; }
  .form__about {
    padding: 50px 0 50px 255px;
    margin: 0 auto; }
  .main-nav__item a {
    padding: 30px; }
  .main-nav__item--find-catalog {
    padding-right: 0px; }
  .radio__block
.user-text {
    margin-left: 225px;
    border: 2px solid #000;
    outline: none;
    overflow: auto; }
  type[checkbox] {
    width: 100px; }
  .form__user input,
  .form__contacts input,
  .form__info input {
    margin-right: 225px; }
  input[type="tel"],
  input[type="email"] {
    margin-left: 0; }
  .form__info {
    margin-right: 225px; }
  .form__send {
    margin-left: 265px; }
  .form__attention {
    margin-right: 265px; } }

.items {
  content: "";
  clear: both;
  display: block;
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px; }

.items__title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana";
  font-weight: bold;
  padding-top: 40px; }

.items__top-sales {
  font-size: 16px;
  line-height: 16px;
  color: #34a998;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase; }

.items__about,
.items__baskets {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  font-family: "Open Sans";
  margin-right: 30px; }

.items__about {
  margin-right: 0; }

.items__baskets {
  width: 260px;
  padding-bottom: 30px; }

.items__baskets td {
  border-bottom: 1px solid #ececec; }

.items__baskets td:nth-child(2) {
  padding-left: 30px; }

.items__picture {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: -60px; }

.items__price {
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  font-family: "Verdana";
  font-weight: bold;
  text-align: center; }

.items__buy {
  display: block;
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  border: solid 2px #434343;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  max-width: 225px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.items__buy:hover {
  background-color: #444444;
  color: #ffffff; }

.items__buy:active {
  background-color: #444444;
  color: #5e5e5e; }

.item__img {
  margin: 0; }

@media (max-width: 767px) {
  .basket-tablet,
  .basket-desktop {
    display: none; }
  .items__zigzag {
    margin-bottom: 50px;
    margin-left: -50px; }
  .basket-mobile {
    text-align: center;
    margin: 0 auto;
    margin-left: 0px; }
  .items__price {
    text-align: center;
    margin-left: 0;
    width: 260px; }
  .items__about {
    width: 260px; }
  .items__buy {
    width: 100%;
    margin-left: 0; }
  button.items__buy.btn {
    margin-left: 0; } }

@media (min-width: 768px) {
  .items {
    margin-bottom: 60px; }
  .items__buy {
    display: block;
    position: relative;
    margin: 0;
    min-width: 45%;
    margin-bottom: 50px;
    border: solid 2px #434343;
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    color: #444444;
    background-color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    max-width: 260px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center; }
  .items__buy:hover {
    background-color: #444444;
    color: #ffffff; }
  .items__buy:active {
    background-color: #444444;
    color: #5e5e5e; }
  .items__title {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    padding-top: 0;
    margin: 0;
    margin-bottom: 50px; }
  .items__top-sales {
    font-size: 16px;
    line-height: 16px;
    color: #63d1bb;
    font-family: "Open Sans";
    font-weight: bold;
    text-align: center;
    float: right;
    width: 80px; }
  .items__about {
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    font-family: "Open Sans";
    width: 45%; }
  .items__baskets {
    font-size: 15px;
    line-height: 20px;
    color: #444444;
    font-family: "Open Sans";
    width: 45%;
    margin-bottom: 50px;
    padding-bottom: 0; }
  .items__baskets td {
    padding-bottom: 10px;
    padding-top: 10px; }
  .basket-mobile,
  .basket-desktop {
    display: none; }
  .items__price {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 35px;
    min-width: 45%;
    font-size: 18px;
    line-height: 24px;
    color: #444444;
    font-family: "Verdana";
    font-weight: bold; }
  button.items__buy.btn {
    margin: 0;
    min-width: 45%;
    margin-bottom: 50px; }
  .items__zigzag {
    margin-left: -50px;
    zoom: 1.5; }
  .main-nav {
    position: relative; }
  .main-nav__item a {
    padding-left: 0; }
  .items__info {
    position: relative; }
  .item__img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    zoom: 1.17; } }

@media (min-width: 1150px) {
  .items__title {
    line-height: 57px;
    font-size: 50px; }
  .items {
    position: relative;
    padding-left: 225px; }
  .items__baskets {
    margin-bottom: 110px;
    padding-bottom: 0;
    margin-right: 0; }
  .items__about {
    margin-bottom: 65px; }
  .items__top-sales {
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 0; }
  button.items__buy.btn,
  .items__price,
  .items__about {
    min-width: 290px; }
  .item__img {
    zoom: 1.5; }
  .items__price {
    width: 50%; }
  .items__zigzag {
    margin-left: -120px;
    zoom: 2.1; } }

.about {
  margin-bottom: 40px; }

.about__title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana";
  font-weight: bold;
  padding-top: 40px; }

.item__text {
  font-size: 16px;
  color: black;
  font-family: "Verdana";
  font-weight: bold;
  text-align: left; }

@media (max-width: 767px) {
  .about {
    margin: 0 auto;
    margin-left: 30px; }
  .about__table {
    max-width: 260px; } }

@media (min-width: 768px) {
  .about {
    margin-left: 30px;
    margin-bottom: 70px; }
  .about__title {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    padding-top: 0;
    margin: 0;
    margin-bottom: 50px; }
  .table__item {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    min-height: 131px;
    min-width: 310px; } }

@media (min-width: 1150px) {
  .about__title {
    font-size: 50px;
    line-height: 57px; }
  .about {
    padding-left: 225px;
    padding-right: 225px; }
  .table-item:nth-child(2n-1) {
    width: 260px; }
  .table-item {
    border: 1px solid red;
    padding-right: 130px;
    min-height: 131px;
    min-width: 322px; }
  .item__text {
    font-size: 20px;
    color: black;
    font-family: "Verdana";
    font-weight: bold; } }

.reviews__title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana";
  font-weight: bold; }

.reviews__wrapper > input {
  display: none; }

.controls {
  position: absolute;
  margin-left: 20%; }

.reviews__wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s; }

.reviews__wrapper label:after {
  border: 2px solid #ddd;
  content: " ";
  display: block;
  height: 12px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.reviews__wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
  background: #ddd; }

.slides {
  height: inherit;
  position: relative;
  opacity: 0;
  z-index: 0; }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.reviews__slide1 {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  font-family: "Open Sans";
  min-width: 260px;
  margin-left: 0px; }

.author-name {
  font-size: 14px;
  line-height: 24px;
  font-family: "Verdana";
  font-weight: bold;
  text-transform: none;
  font-style: normal; }

.author-instagram {
  color: black; }

.reviews__preview,
.reviews__next {
  float: left;
  width: 50%;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: none;
  border-right: none;
  background-color: white;
  height: 64px;
  margin-bottom: 38px; }

.reviews__write {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid 2px #434343;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  max-width: 225px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.reviews__write:hover {
  background-color: #444444;
  color: #ffffff; }

.reviews__write:active {
  background-color: #444444;
  color: #5e5e5e; }

img.zigzag {
  position: absolute;
  left: 13px;
  zoom: 1.3;
  margin-left: -13px; }

.controls {
  position: absolute;
  margin-left: 10%; }

@media (max-width: 767px) {
  .reviews {
    margin: 0 auto;
    padding-left: 30px; }
  .reviews__wrapper {
    max-width: 260px; }
  .reviews__write {
    width: 100%; }
  .zigzag-line,
  .reviews__background,
  .reviews__write-tablet.btn,
  .reviews__zigzag {
    display: none; } }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    margin-left: 30px;
    margin-bottom: 40px;
    background-image: url("img/review.png");
    background-size: cover; }
  .reviews__background {
    position: absolute;
    z-index: -1;
    left: -30px;
    top: -80px;
    width: 50%; }
  .reviews__title {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    padding-top: 0;
    margin: 0;
    margin-bottom: 50px;
    min-width: 170px; }
  .reviews__write {
    margin-right: 30px;
    position: absolute;
    width: 230px;
    top: 0;
    right: 0; }
  .zigzag {
    display: none; }
  blockquote p {
    font-size: 16px; }
  .reviews__preview,
  .reviews__next {
    position: absolute;
    width: 10%;
    margin-bottom: 50px;
    right: 0;
    bottom: 120px;
    border: none; }
  .reviews__preview {
    right: 12%; }
  .controls {
    left: 50%;
    margin-left: -10%;
    top: 260px; }
  .reviews__zigzag {
    margin-top: 70px;
    zoom: 1.5;
    margin-left: -50px; } }

@media (min-width: 1150px) {
  .reviews {
    margin: 0 auto;
    margin-bottom: 70px; }
  .reviews__background {
    width: 30%; }
  .reviews__title {
    line-height: 57px;
    font-size: 50px; }
  .reviews__wrapper {
    padding-left: 225px;
    position: relative; }
  .slider {
    padding-right: 225px; }
  .reviews__write-tablet {
    position: absolute;
    width: 20%;
    right: 20px; }
  .reviews__next,
  .reviews__preview {
    bottom: 0; }
  .arrow:hover {
    opacity: 0.7;
    color: 0, 0, 0, 0.7; }
  .arrow:active {
    opacity: 0.3; }
  .controls {
    left: 55%; }
  .reviews__zigzag {
    zoom: 2;
    margin-top: 60px; } }

.contacts__title {
  width: 283px;
  margin: 30px auto;
  font-size: 24px;
  line-height: 30px;
  font-family: "Verdana";
  font-weight: bold;
  padding-top: 40px;
  padding-left: 45px; }

.contacts__table {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  font-family: "Open Sans";
  margin-left: 30px; }

.contacts__table td {
  vertical-align: baseline; }

.contacts__table td:nth-child(2) {
  padding-left: 30px;
  padding-bottom: 40px; }

.contacts__table tr {
  margin-bottom: 65px; }

.e-mail {
  border-bottom: 1px solid #6bc5b3;
  color: #444444;
  text-decoration: none; }

.contacts__write {
  display: block;
  position: relative;
  margin: 0 auto 50px auto;
  border: solid 2px #434343;
  padding: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-weight: bold;
  max-width: 225px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.contacts__write:hover {
  background-color: #444444;
  color: #ffffff; }

.contacts__write:active {
  background-color: #444444;
  color: #5e5e5e; }

.contacts__map {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  justify-content: center; }

@media (max-width: 767px) {
  .contacts,
  .contacts__table {
    margin: 0 auto; }
  .map__tablet,
  .map__desktop,
  .contacts__flag {
    display: none; }
  .map__tag {
    position: absolute;
    top: 30%;
    left: 33%; } }

@media (min-width: 768px) {
  .contacts__title {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    color: black;
    font-family: "Verdana";
    font-weight: bold;
    padding-top: 0;
    margin: 20px 0 50px 30px;
    min-width: 170px;
    padding-left: 0; }
  .contacts__flag {
    display: inline-block;
    float: right;
    margin-right: 30px;
    top: -20px; }
  .contacts__table {
    min-width: 100%;
    font-size: 16px; }
  .contacts__table tr {
    margin-right: 30px; }
  .contacts__table tr:nth-child(1) {
    float: left; }
  .contacts__table tr:nth-child(2) {
    float: right; }
  .map__mobile,
  .map__desktop {
    display: none; }
  .map__tablet {
    margin-bottom: 25px; }
  .map__tag {
    position: absolute;
    top: 30%;
    left: 44%; }
  .contacts__table td:nth-child(2) {
    padding-bottom: 0; }
  .contacts__write {
    margin-bottom: 57px; }
  a.contacts__write {
    display: block; } }

@media (min-width: 1150px) {
  .map__mobile,
  .map__tag {
    display: none; }
  .contacts__title {
    line-height: 57px;
    font-size: 50px; }
  .contacts {
    padding-left: 225px;
    position: relative;
    display: table; }
  .contacts__flag {
    position: absolute;
    left: 110px;
    top: 0; }
  .contacts__table {
    min-width: 300px; }
  .contacts__table tr {
    display: table;
    width: 30%;
    margin-right: 0; }
  .contacts__table tr:nth-child(1) {
    display: inline-block;
    width: 100%; }
  .contacts__table tr:nth-child(2) {
    display: inline-block;
    width: 100%; }
  .contacts__map {
    position: absolute;
    left: 100%;
    top: 0; }
  .contacts__write {
    margin-left: 0; } }

.page-footer {
  background-color: #f1f1f1; }

.social-links {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
  vertical-align: center; }

.social-link {
  margin-right: 30px;
  margin-top: 30px; }

.social-link--tw {
  margin-right: 0px; }

.social-link--fb {
  margin-top: 26px; }

.mishka-logo-tablet {
  display: none; }

.page-footer__copyright-link {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-family: "Verdana";
  font-weight: bold;
  text-decoration: none;
  vertical-align: center;
  padding-top: 24px;
  padding-bottom: 24px; }

.page-footer__copyright-link img {
  margin-top: -8px;
  margin-left: 22px; }

@media (max-width: 767px) {
  .reviews {
    margin: 0 auto; }
  .page-footer__logo {
    display: none; } }

@media (min-width: 768px) {
  .page-footer {
    min-height: 143px; }
  .page-footer__wrapper {
    position: relative; }
  .page-footer__copyright-link {
    position: absolute;
    top: 40px;
    right: 30px; }
  .page-footer__logo {
    position: absolute;
    left: 30px;
    top: 55px; }
  .social-links {
    border-bottom: none;
    padding-top: 30px; }
  a.page-footer__copyright-link:hover,
  a.page-footer__logo:hover {
    opacity: 0.6; }
  a.page-footer__copyright-link:active,
  a.page-footer__logo:active {
    opacity: 0.3; } }
