.clearfix::after {
  content: "";
  display: block;
  clear: both; }

@media (min-width: 1150px) {
  .btn:hover {
    background-color: #444444;
    color: #ffffff; }
  .btn:active {
    background-color: #444444;
    color: #5e5e5e; } }
