@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
    font-family: Open Sans;
    font-style: normal;
}

.news-block {
    padding: 0;
}

.news-block__item {
    list-style: none;
    position: relative;
}

@media (max-width: 768px) {
    
    .news-block__item {
        margin: 0 16px 12px 16px;
        min-height: 100px;
    }
    
    .item__image {
        position: absolute;
        top: 0;
        left: 0;
    }

    .item__description {
        margin-left: 112px;
    }

    .item__title {
        font-weight: bold;
        line-height: 18px;
        font-size: 14px;
        color: #333333;
    }

    .item__about {
        font-weight: normal;
        line-height: 18px;
        font-size: 12px;
        color: #333333;
    }
}

@media (min-width: 768px) {

    .news-block {
        margin: 100px 82px 100px 82px;
    }

    .news-block__item {
        width: 290px;
        height: 208px;
        margin-left: 24px;
        float: left;
        margin-bottom: 24px;
    }

    .item__description {
        position: absolute;
        bottom: 0;
        padding: 0 16px 0 16px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0) );
        border-radius: 4px;
    }        

    .item__title {
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
        color: #FFFFFF;
        margin: 0;
    }

    .item__about {
        line-height: 18px;
        font-size: 12px;
        color: #FFFFFF;
        margin: 0 0 12px 0;
    }
}

@media (min-width: 1440px) {

    .news-block {
        display: flex;
        justify-content: center;
        margin: 100px 138px 100px 138px;
    }

    .item__description {
        width: 258px;
        padding: 0 16px 0 16px;
    }

    .news-block__item {        
        margin-left: 24px;
    }
}

