.categ_item {
  text-decoration: none;
  color: #000; }

.categ__item-img {
  text-align: center; }

.categ__item-text {
  text-align: center;
  display: block;
  max-width: 130px; }

@media (max-width: 768px) {
  .categories {
    display: block;
    margin-top: 20px; }
  .categ__item {
    float: left;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    min-height: 203px;
    border-radius: 5px;
    text-decoration: none;
    color: #000; }
  .categ__item-img {
    text-align: center;
    width: 160px;
    margin: 5px;
    margin-top: 15px; }
  .categ__item-text {
    max-width: 130px;
    text-align: center;
    margin: 20px; } }

@media (min-width: 768px) {
  .categories {
    display: flex;
    justify-content: space-between; }
  .categ__item {
    width: 243px;
    height: 204px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-size: 18px; }
  .categ__item-img {
    text-align: center;
    margin-top: 10px; }
  .categ__item-text {
    text-align: center;
    max-width: 130px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-top: 2px solid #E6E6E6; }
  a.categ__item:hover {
    box-shadow: none;
    transition: 0.5s; } }

@media (min-width: 1140px) {
  .categories {
    margin-top: 47px;
    margin-bottom: 28px; } }
