.social a {
    background-color: #81b3d1;
    padding: 13px;
    font-size: 24px;
    color: #fff;
    font-family: "symbols-sedona";
    text-decoration: none;
    max-width: 46px;
    max-height: 48px;
    &:hover {
        background-color: #669dc0;
    }
    &:active {
        background-color: #5495bd;
    }
}

.social {
    text-align: center;
}

.tag {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    font-family: "P Tsans";
    margin-bottom: 37px;
    margin-top: 66px;
}

.hashtag {
    text-decoration: none;
    color: #000;
    &:hover {
        color: #81b3d1;
    }
    &:active {
        color: #b2b2b2;
    }
}

.icon-fb {
    padding-left: 28px;
    padding-right: 28px;
    width: 23px;
    display: inline-block;
    line-height: 24px;
}

.icon-yt {
    width: 23px;
    display: inline-block;
    line-height: 24px;
}

@media (min-width: 768px) {
    footer {
        display: flex;
        justify-content: space-around;
    }
    

    .tag {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 21px;
        font-weight: bold;
        font-family: "P Tsans";
    }

    .icons {
        display: inline-block;
        margin-top: 30px;
    }

    .icon-fb {
        padding-left: 28px;
        padding-right: 28px;
    }
    .icons {
        margin-top: 10px;
    }

    .social {
        margin-bottom: 30px;
    }

    .social a {
        padding: 13px;
        margin-left: 0;
    }
    
    .tag {
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {

    .icons {
        margin-top: 10px;
    }
    
    .social {
        margin-bottom: 30px;
    }
    
    .social a {
        padding: 13px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    
    .tag {
        margin-top: 20px;
    }
}