.main__background {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.main__background-text {
    position: absolute;
}

.main__welcome {
    margin: 0 auto;
    zoom: 1;
} 

.main__triangle {
    position: absolute;
}


@media (max-width:767px) {
    .main {
        position: relative;
    }
    
    .main__slogan {
        margin: 30px 10px;
    }

    .main__features {
        text-align: center;
    }    

    .main__welcome {
        margin: 0 auto;
        overflow: hidden;
        zoom: 0.7;
    }

    .main__triangle {
        top: 300px;
        position: absolute;
        zoom: 1.2;
    }
    
    .main__triangle--close {
        display: none;
    }

    .main__background-text {
        top: 70px;
    }
}

@media (min-width: 768px) {
   .main__triangle {
        top: 463px;
        zoom: 1;
    }

    .main__about {
        margin-top: 46px;
    }

    .main__slogan,
    .main__features {
        width: 500px;
        text-align: center;
        margin: 35px auto;
    }


    .main__features {
        margin-top: -7px;
        margin-bottom: 50px;
    }


    .main__slogan {
        font-size: 21px;        
        line-height: 26px;
    }

    .main__background-text {
        top: 75px;
    }
}

@media (min-width: 1200px) {

    .main__features {
        margin-top: 27px;
        margin-bottom: 49px;
    }

    .main__background {
        margin-bottom: 45px;
    }
    
}
