.video {
    
}

.video__about {
    margin: 40px 10px;
}

.video__slogan{
    
}

.video_features {
    
}


@media (max-width: 767px) {

    .video__slogan {
        margin: 30px 10px;

    }

    .video__features {
        text-align: center;
        line-height: 22px;
        width: 275px;
    }

    .video__img {
        display: flex;
        justify-content: center;
    }

    .video__controls {
        background: #f2f2f2;
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }

    button {
        border: none;
    }
}

@media (min-width: 768px) {

    .video {
        position: relative;
        margin-bottom: 45px;
    }

    .video__slogan,
    .video__features {
        width: 500px;
        text-align: center;
        margin: 35px auto;
    }

    .video__slogan {
        font-size: 30px;        
        line-height: 26px;
    }

    .video__img {
        display: flex;
        justify-content: center;
    }
    
    .video__controls {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        box-shadow: inset 0 0 0 220px rgba(0, 0, 0, 0.3); /*должно быть 0.5*/
        width: 648px;
        left: 50%;
        margin-left: -324px;
        padding: 35px 0;
    }

    button {
        border: none;
        background: inherit;
        img {
            color: #fff;
        }
    }
}

@media (min-width: 1200px) {
    .video__controls {
        width: 800px;
        left: 50%;
        margin-left: -400px;
        display: flex;
        justify-content: space-around;
        padding: 35px 0;
    }

    .video {
        margin-bottom: 105px;
    }

    .video__about {
        margin-bottom: 65px;
    }
}