.blog {
  position: relative;
  height: 837px;
  background: #fafafd;
  margin-bottom: 192px; }

.blog__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 1470px;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 100px; }

.bl__column {
  width: 450px;
  height: 615px;
  background: #fff;
  z-index: 10; }

.bl__text {
  width: 385px;
  margin: 0 auto; }
  .bl__text a {
    text-decoration: none;
    font-family: 'Muli-semibold';
    color: #595666; }

.bl__text_title {
  font-family: 'Muli-semibold';
  font-size: 20px;
  color: #2b2d5c; }

.bl__text_date {
  font-family: 'Muli-semibold';
  font-size: 15px;
  color: #2b2d5c;
  margin-bottom: 25px; }

.bl__text_text {
  font-family: 'Muli-light';
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 26px; }

.bl__text_more {
  position: relative;
  font-size: 16px;
  color: #595666; }
  .bl__text_more:after {
    content: '';
    position: absolute;
    width: 96px;
    height: 11px;
    background: #ffe066;
    left: 0;
    bottom: 0;
    z-index: -1; }

.bl__about {
  font-family: 'Muli-light';
  font-size: 20px;
  line-height: 34px; }

.bl__column_center {
  height: 865px; }

.bl__title {
  font-size: 40px;
  line-height: 38px;
  padding-bottom: 42px; }

.bl__title,
.bl__about {
  background: #f7f7fc;
  text-align: center;
  margin: 0; }

.bl__about {
  padding-bottom: 78px;
  color: #2b2d5c; }

.blog__right_plus,
.blog__left_plus {
  position: absolute; }

.blog__right_plus {
  right: 50px;
  top: -244px; }

.blog__left_plus {
  top: 222px; }

.text__block {
  background: #f7f7fc;
  width: 520px;
  margin-left: -30px; }

.down__block {
  height: 615px;
  box-shadow: 0px 0px 40px 25px #e7e7ef; }

.bl__text_text {
  width: 385px;
  height: 112px;
  overflow: hidden; }
