.clients {
  position: relative;
  background: url("../img/clients.png");
  background-color: #4c4d69;
  background-blend-mode: soft-light;
  height: 300px;
  margin-bottom: 100px; }

.clients__content {
  position: relative;
  width: 1170px;
  margin: 0 auto; }

.cl__title {
  font-family: 'Trirong';
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 68px;
  margin-bottom: 15px; }

.cl__logotypes {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }
