footer {
  background: #2b2d5c;
  border-bottom: 1px solid #55577d;
  color: #fff; }

.footer__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 30px; }

.foot__contacts {
  width: 200px; }

.cont__title,
.cont__social_title {
  font-family: 'Muli-semibold';
  font-size: 20px;
  line-height: 38px;
  margin-bottom: -2px;
  margin-top: 35px; }

.cont__adress {
  font-family: 'Muli-light';
  font-size: 14px;
  line-height: 22px; }

.foot__latest_posts {
  width: 370px; }

.posts__title,
.links__title,
.new_insta__title {
  font-family: 'Muli-light';
  font-size: 24px;
  margin: 0;
  margin-bottom: 25px; }

.posts__item_text {
  width: 270px;
  height: 62px;
  font-family: 'Muli-light';
  font-size: 16px;
  margin-left: 100px; }

.posts__item1,
.posts__item2 {
  position: relative;
  margin-bottom: 30px; }

.posts__item1 img {
  position: absolute;
  top: 5px; }

.posts__item2 img {
  position: absolute;
  top: 5px; }

.posts__item_title {
  margin: 0;
  margin-bottom: 7px; }

.posts__date {
  margin: 0; }

.posts__more {
  font-family: 'Muli-semibold';
  font-size: 16px;
  color: #fff;
  margin-left: 100px;
  text-transform: uppercase;
  text-decoration: none; }
  .posts__more:hover {
    color: #f2c200; }

.links__list {
  list-style: none;
  padding: 0; }

.links__list_item a {
  text-decoration: none;
  font-family: 'Muli-semibold';
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  margin: 0; }
  .links__list_item a:hover {
    color: #f2c200; }

.form__up {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 101; }

.sticky {
  position: fixed;
  z-index: 101; }

.stop {
  position: relative;
  z-index: 101; }
