@font-face {
  font-family: "Muli-light";
  src: url("../fonts/Muli-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: light;
}

@font-face {
  font-family: "Muli-xlight";
  src: url("../fonts/Muli-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Muli-semibold";
  src: url("../fonts/Muli-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Trirong";
  src: url("../fonts/Trirong-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: light;
}

body {
  width: 1600px;
  margin: 0 auto;
  font-family: 'Muli-light';
}

header {
  position: relative;
  background: url(../img/header__girl.png) no-repeat right;
  background-color: #2b2d5c;
  background-blend-mode: screen;
  min-height: 900px;
}

.header__content {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding-top: 65px;
}

.wrapper__logo {
  display: inline;
}

.wrapper__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
}

.menu__item {
  list-style: none;
}

.menu__item a {
  color: #fff;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
}

.menu__item a:hover {
  border-bottom: 1px solid #ffcc00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__wrapper {
  margin-bottom: 54px;
}

.header__hello {
  font-family: "Trirong";
  font-size: 60px;
  line-height: 72px;
  color: #fff;
  margin-bottom: 0;
}

.header__aboutme {
  font-family: 'Muli-xlight';
  font-size: 20px;
  color: #fff;
  margin-bottom: 50px;
}

.header__works {
  display: block;
  width: 220px;
  font-family: 'Muli-semibold';
  font-size: 16px;
  padding: 20px 0;
  color: #2b2d5c;
  background: #f2c200;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 165px;
}

.header__works:hover {
  color: #fff;
  background: #2b2d5c;
  border: 2px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__scroll {
  text-align: center;
}

.header__rightplus {
  position: absolute;
  right: -215px;
  bottom: -73px;
}

.header__social {
  position: absolute;
  right: 100px;
  top: 125px;
}

.righteff {
  position: absolute;
  bottom: -22px;
  right: 0;
}

.lefteff {
  position: absolute;
  bottom: -28px;
  left: 0;
}

.about {
  min-height: 785px;
  background: #f7f7fc;
}

.about::after {
  content: "";
  display: block;
  min-height: 150px;
  background: #fff;
}

.about__content {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.ab__text_block {
  position: relative;
  width: 735px;
  padding-top: 160px;
  margin-left: 435px;
}

h1 {
  font-family: 'Trirong';
  font-size: 40px;
  margin: 0;
  color: #2b2d5c;
}

.text {
  font-family: 'Muli-light';
  font-style: 16px;
  line-height: 28px;
  margin-bottom: 35px;
  color: #595666;
}

h2 {
  font-family: 'Trirong';
  font-size: 26px;
  margin: 0;
  color: #2b2d5c;
  margin-bottom: 35px;
}

h3 {
  font-family: 'Muli-semibold';
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  color: #595666;
  text-transform: uppercase;
}

.ab__doing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.ab__doing a {
  text-decoration: none;
}

a.doing__item {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

a.doing__item:hover {
  color: #3d3fcc;
  font-size: 18px;
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
}

a.doing__item:active {
  color: #0b0d94;
}

.ab__flickr {
  display: block;
  width: 285px;
  font-family: 'Muli-semibold';
  font-size: 16px;
  padding: 20px 0;
  color: #fff;
  background: #2b2d5c;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
}

.ab__flickr:hover {
  color: #2b2d5c;
  background: #f2c200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ab__photo_block {
  position: absolute;
  width: 514px;
  height: 730px;
  left: -215px;
  bottom: -100px;
}

.clients {
  position: relative;
  background: url("../img/clients.png");
  background-color: #4c4d69;
  background-blend-mode: soft-light;
  height: 300px;
  margin-bottom: 100px;
}

.clients__content {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.cl__title {
  font-family: 'Trirong';
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding-top: 68px;
  margin-bottom: 15px;
}

.cl__logotypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.port__text {
  display: inline-block;
  color: #2b2d5c;
  width: 535px;
  height: 895px;
  margin: 0;
  background: url(../img/port.png) no-repeat center;
  margin-bottom: 105px;
}

.port__content {
  padding-top: 205px;
  margin-left: 78px;
  width: 340px;
}

.port__content h1 {
  margin-bottom: 73px;
}

.port__text_about {
  font-family: 'Muli-light';
  color: #2b2d5c;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 28px;
}

.port__text_more {
  font-family: 'Muli-semibold';
  color: #2b2d5c;
  text-decoration: none;
}

.port__text_more:hover {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.port__photo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.port__photo_left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.port__photo_left img {
  margin-bottom: 35px;
}

.port__photo_right {
  display: inline-block;
  width: 705px;
}

.port__photo_right img {
  margin-left: 32px;
  margin-bottom: 28px;
}

.port__see_more {
  display: block;
  position: absolute;
  width: 220px;
  font-family: 'Muli-semibold';
  font-size: 16px;
  padding: 15px 0;
  color: #f2c200;
  border: 1px solid #f2c200;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  bottom: 135px;
  left: 585px;
}

.port__see_more:hover {
  color: #2b2d5c;
  background: #f2c200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.blog {
  position: relative;
  height: 837px;
  background: #fafafd;
  margin-bottom: 192px;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1470px;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 100px;
}

.bl__column {
  width: 450px;
  height: 615px;
  background: #fff;
  z-index: 10;
}

.bl__text {
  width: 385px;
  margin: 0 auto;
}

.bl__text a {
  text-decoration: none;
  font-family: 'Muli-semibold';
  color: #595666;
}

.bl__text_title {
  font-family: 'Muli-semibold';
  font-size: 20px;
  color: #2b2d5c;
}

.bl__text_date {
  font-family: 'Muli-semibold';
  font-size: 15px;
  color: #2b2d5c;
  margin-bottom: 25px;
}

.bl__text_text {
  font-family: 'Muli-light';
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 26px;
}

.bl__text_more {
  position: relative;
  font-size: 16px;
  color: #595666;
}

.bl__text_more:after {
  content: '';
  position: absolute;
  width: 96px;
  height: 11px;
  background: #ffe066;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.bl__about {
  font-family: 'Muli-light';
  font-size: 20px;
  line-height: 34px;
}

.bl__column_center {
  height: 865px;
}

.bl__title {
  font-size: 40px;
  line-height: 38px;
  padding-bottom: 42px;
}

.bl__title,
.bl__about {
  background: #f7f7fc;
  text-align: center;
  margin: 0;
}

.bl__about {
  padding-bottom: 78px;
  color: #2b2d5c;
}

.blog__right_plus,
.blog__left_plus {
  position: absolute;
}

.blog__right_plus {
  right: 50px;
  top: -244px;
}

.blog__left_plus {
  top: 222px;
}

.text__block {
  background: #f7f7fc;
  width: 520px;
  margin-left: -30px;
}

.down__block {
  height: 615px;
  -webkit-box-shadow: 0px 0px 40px 25px #e7e7ef;
          box-shadow: 0px 0px 40px 25px #e7e7ef;
}

.bl__text_text {
  width: 385px;
  height: 112px;
  overflow: hidden;
}

.form {
  position: relative;
  background: url(../img/formbg.png);
  background-color: #2b2d5c;
  height: 530px;
  border-bottom: 1px solid #55577d;
}

.form__content {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.form__content input {
  padding: 17px 25px;
  width: 450px;
  display: block;
  margin: 0 auto;
  margin-bottom: 27px;
  background: #b6b7c7;
  font-family: 'Muli-light';
  font-size: 15px;
  line-height: 0;
  border: none;
  outline: none;
}

#form__message {
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 17px;
  width: 450px;
  display: block;
  margin: 0 auto;
  background: #b6b7c7;
  font-family: 'Muli-light';
  font-size: 15px;
  line-height: 0;
  border: none;
  outline: none;
  margin-bottom: 35px;
}

.form__title {
  font-family: 'Trirong';
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 38px;
  margin: 0;
  padding-top: 62px;
  padding-bottom: 45px;
}

.form__send_btn {
  display: block;
  width: 200px;
  font-family: 'Muli-light';
  font-size: 16px;
  padding: 20px 0;
  color: #2b2d5c;
  background: #f2c200;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 165px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 74px;
  outline: none;
}

.form__send_btn:hover {
  color: #fff;
  background: #2b2d5c;
  border: 2px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__plus1 {
  position: absolute;
  bottom: -71px;
  left: -50px;
}

.form__plus2 {
  position: absolute;
  top: 52px;
  right: -115px;
}

#error {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-225px);
          transform: translateX(-225px);
  bottom: 70px;
  width: 450px;
  color: red;
  margin: 0 auto;
}

#pop {
  position: absolute;
  width: 500px;
  height: 200px;
  background: #f1f1f1;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  border-radius: 6px;
  padding: 10px;
  z-index: 9999;
  top: 50%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer {
  background: #2b2d5c;
  border-bottom: 1px solid #55577d;
  color: #fff;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 30px;
}

.foot__contacts {
  width: 200px;
}

.cont__title,
.cont__social_title {
  font-family: 'Muli-semibold';
  font-size: 20px;
  line-height: 38px;
  margin-bottom: -2px;
  margin-top: 35px;
}

.cont__adress {
  font-family: 'Muli-light';
  font-size: 14px;
  line-height: 22px;
}

.foot__latest_posts {
  width: 370px;
}

.posts__title,
.links__title,
.new_insta__title {
  font-family: 'Muli-light';
  font-size: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.posts__item_text {
  width: 270px;
  height: 62px;
  font-family: 'Muli-light';
  font-size: 16px;
  margin-left: 100px;
}

.posts__item1,
.posts__item2 {
  position: relative;
  margin-bottom: 30px;
}

.posts__item1 img {
  position: absolute;
  top: 5px;
}

.posts__item2 img {
  position: absolute;
  top: 5px;
}

.posts__item_title {
  margin: 0;
  margin-bottom: 7px;
}

.posts__date {
  margin: 0;
}

.posts__more {
  font-family: 'Muli-semibold';
  font-size: 16px;
  color: #fff;
  margin-left: 100px;
  text-transform: uppercase;
  text-decoration: none;
}

.posts__more:hover {
  color: #f2c200;
}

.links__list {
  list-style: none;
  padding: 0;
}

.links__list_item a {
  text-decoration: none;
  font-family: 'Muli-semibold';
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  margin: 0;
}

.links__list_item a:hover {
  color: #f2c200;
}

.form__up {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 101;
}

.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}
/*# sourceMappingURL=main.css.map */